{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header class="menu">
        <ul>
            <li><a href="{% url 'publicacao.home' %}">HOME</a></li>
            <li><a href="{% url 'autenticacao.login' %}">LOGIN/CADASTRO</a></li>
            <li><a href="">SOBRE</a></li>
            <li>Nome do usuario logado</li>
        </ul>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <!-- <footer></footer> -->
</body>
</html>