{% extends 'publicacao/base.html' %}

{% block title %}
    Página Principal
{% endblock %}

{% block content %}
    <div class="btn-pub">
        <a href="{% url 'publicacao.publicar' %}">publicar dúvida</a>
    </div>
    <h2>Discussões no Fórum</h2>

    <ul class="duvidas">
        {% for pub in publicacao %}
        <li>
            <span>titulo: {{ pub.titulo }}</span><br>
            <span>autor: {{ pub.usuario}}</span><br>
            <span>criacao: {{ pub.data_publicacao }}</span>
            <a href="{% url 'publicacao.publicacao' pub.id %}">Abrir</a><br><br>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}