{% extends 'publicacao/base.html' %}

{% block title %}
    Publicar Dúvida
{% endblock %}

{% block content %}
    <h2>Publicar Dúvida</h2>

    <form action="{% url 'publicacao.publicar' %}" method="post">{% csrf_token %}
        <input type="text" name="titulo" placeholder="Titulo"><br>
        <textarea name="duvida" cols="35" rows="10" placeholder="Qual a sua dúvida?"></textarea><br>
        <input type="submit" value="Publicar">
    </form>

    <h2>Minhas Publicações</h2>
    {% for pub in publicacao %}
        <li> <a href="{% url 'publicacao.publicacao' pub.id %}">{{ pub }}</a></li>
    {% endfor %}
{% endblock %}